#tictactoe {  
  text-align: center;
  font-family: sans-serif;
  margin: 1rem auto;
  padding: 0 2rem;
  border: 2px solid rgb(20, 12, 161);
  width: 20rem;
  height: 25rem;
}

#tictactoe li {
  list-style-type: none; 
}

#tictactoe .square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 2rem;
  font-weight: bold;
  line-height: 3rem;
  height: 3rem;
  text-align: center;
  width: 3rem;
}

#tictactoe .board {
  margin: auto;
  width: 9rem;
}

#tictactoe .board-row:after {
  clear: both;
  content: '';
  display: table;
}

#tictactoe .status {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

#tictactoe .reset {
  font-size: 1.5rem;
  color: rgb(55, 0, 255);
  margin-top: 2rem;
}

/* Small screens */
@media screen and (max-width: 480px) {
 #tictactoe {
    margin: 0.5rem;
    padding: 0;
    border: none;
    width: 100%;
    height: auto;
  }
}