#magic-ball-game {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 50%;
  min-width: 30rem;
  border: 2px solid rgb(49, 41, 41);
  border-radius: 5px;
  margin: 0.2rem auto;
  box-shadow: 0px 4px;
}

#magic-ball-game h1 {
  margin: 0.3rem;
}

#magic-ball-game input {
  width: 25rem;
  margin-bottom: 0.5rem;
}

#magic-ball-game select {
  margin-bottom: 0.5rem;
}

#magic-ball-game option,
#magic-ball-game input,
#magic-ball-game button,
#magic-ball-game select {
  font-size: 0.8rem;
}

#magic-ball-game button {
  background-color: rgb(52, 139, 139);
  padding: 0.2rem 0.8rem;
  margin: 0 0.2rem;
  border-radius: 10px;
  color: white;
}

#magic-ball-game .magic-ball-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  background-size: cover;
  width: 18rem;
  height: 18rem;
}

#magic-ball-game .magic-ball-message {
  display: flexbox;
  align-content: center;
  margin: auto;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

#magic-ball-game p {
  font-size: 1.2rem;
  padding: 1.2rem;
}

@media only screen and (max-width: 768px) {
  #magic-ball-game {
    margin: auto;
    padding: 0.5rem;
    width: 100%;
    min-width: 0;
    border: none;
    box-shadow: none;
  }
}