#madlibgame {
  padding: 1rem;
  background: linear-gradient(-45deg, #d3686b, #f1cee4); 
  margin: 0.5rem auto;
  border: 2px solid rgb(148, 9, 78);
  width: 60%;
  height: 28rem;
}

#madlibgame h1 {
  margin-bottom: 1rem;
  margin-top: 0rem;
  color: rgb(148, 9, 78);
}

#madlibgame form {
  width: 30rem;
  margin: 0.5rem auto;
  }
  
  #madlibgame label{
    display: inline-block;
    clear: left;
    text-align: right;
    width: 10rem;
    padding-right: 1rem;
    font-size: 0.9rem;
}

  #madlibgame input {
  display: inline-block;
  width: 10rem;
  font-size: 0.8rem;
  }

#madlibgame p {
  text-align: center;
  font-size: 1rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 1rem auto;
}

#madlibgame .button-section {
  margin: auto;
  text-align: center;
}

#madlibgame button {
  position: relative;
  background-color: rgb(209, 68, 124);
  padding: 0.2rem;
  text-align: center;
  border-radius: 5%;
  width: 9rem;
  border: 2px solid rgb(205, 32, 101);
  box-shadow: -2px 2px rgb(104, 11, 48);
  color: white;
  font-size: 0.8rem;
  margin: 0 0.5rem;
}

#madlibgame button:hover {
  background-color: rgb(212, 124, 138);
}

#madlibgame .generate {
  background-color: rgb(148, 9, 78);
  border: 2px solid rgb(148, 9, 78);
}

#madlibgame .selected {
  background-color: rgb(148, 9, 78);
  border: 2px solid rgb(148, 9, 78);
}

#madlibgame .unselected {
  background-color: rgb(187, 116, 145);
  border: 2px solid rgb(209, 68, 124);
}

@media only screen and (max-width: 768px) {
  #madlibgame {
    margin: auto;
    padding: 0.5rem;
    width: 100%;
    min-width: 0;
    border: none;
    height: auto;
  }
}

/* Surface Duo */
@media screen and (max-width: 768px) and (min-width: 400px) {
  #madlibgame button {
    font-size: 0.7rem;
    width: 7rem;
  }
}