#madlibgame h1 {
  margin-bottom: 1rem;
  margin-top: 0rem;
  color: rgb(148, 9, 78);
}

#madlibgame {
  padding: 1rem;
  background: linear-gradient(-45deg, #d3686b, #f1cee4); 
  margin: auto;
  border: 2px solid rgb(148, 9, 78);
}

#madlibgame form {
  width: 30rem;
  margin: 0.5rem auto;
  }
  
  #madlibgame label, #madlibgame input {
  font-size: 1rem;
  }
  
  #madlibgame label{
    display: inline-block;
    clear: left;
    text-align: right;
    width: 10rem;
    padding-right: 1rem;
}

  #madlibgame input {
  display: inline-block;
  width: 20rem;
  }

#madlibgame p {
  text-align: center;
  font-size: 1.2rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 1rem auto;
  max-width: 50rem;
}

#madlibgame .button-section {
  margin: auto;
  text-align: center;
}

#madlibgame button {
  position: relative;
  background-color: rgb(209, 68, 124);
  padding: 0.2rem;
  text-align: center;
  border-radius: 5%;
  width: 12rem;
  border: 2px solid rgb(205, 32, 101);
  box-shadow: -2px 2px rgb(104, 11, 48);
  color: white;
  font-size: 1rem;
  margin: 0 0.5rem;
}

#madlibgame .generate {
  background-color: rgb(148, 9, 78);
  border: 2px solid rgb(148, 9, 78);
  box-shadow: -5px 5px rgb(109, 16, 16);
}

#madlibgame button:hover {
  background-color: rgb(212, 124, 138);
}

#madlibgame .selected {
  background-color: rgb(136, 21, 67);
}

#madlibgame .unselected {
  background-color: rgb(193, 153, 169);
  border: 2px solid rgb(193, 153, 169);
}

/* Medium screens */
@media screen and (max-width: 900px) and (min-width: 540px) {
  #madlibgame button {
    width: 12rem;
  }
}

/* Surface Duo */
@media screen and (max-width: 540px) and (min-width: 480px) {
  #madlibgame button {
    font-size: 0.8rem;
    width: 8rem;
  }
}

/* Small screens */
@media screen and (max-width: 480px) {
  #madlibgame input {
    width: 15rem;
    }
  
  #madlibgame button {
    margin: 0.5rem 0;
  }
}